@font-face {
    font-family: 'DroidKufi-Regular';
    src: url('../fonts/droidkufi/DroidKufi-Regular.eot');
    src: url('../fonts/droidkufi/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidkufi/DroidKufi-Regular.woff') format('woff'),
         url('../fonts/droidkufi/DroidKufi-Regular.ttf') format('truetype'),
         url('../fonts/droidkufi/DroidKufi-Regular.svg#DroidKufi-Regular') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'DroidKufi-Bold';
    src: url('../fonts/droidkufi/DroidKufi-Bold.eot');
    src: url('../fonts/droidkufi/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidkufi/DroidKufi-Bold.woff') format('woff'),
         url('../fonts/droidkufi/DroidKufi-Bold.ttf') format('truetype'),
         url('../fonts/droidkufi/DroidKufi-Bold.svg#DroidKufi-Bold') format('svg');
    font-weight: normal; font-style: normal;
}
body {font-size: 15px; font-family:'DroidKufi-Regular', sans-serif; }
#header .header-logo {float: right;}
.logo_img {height: 80px;}
.hp .properties-listing .listing-item {margin-bottom: 20px; }
.hp .properties-listing .listing-item { height:260px; background: url(../img/shelve.png) no-repeat center bottom; }
.hp .properties-listing .listing-item h3 { color: #5f3119; font-size: 22px; font-weight: 700; margin-bottom: 10px; }
.hp .properties-listing .listing-item p {font-size: 13px; color: #8c3b10}
.hp .properties-listing .listing-item .cat_icon {text-align: center; margin: 10px 0 15px 0;}
.bricks_bg {background: url(../img/bricks.jpg) repeat center bottom}
.properties-listing .listing-item .thumb-info .thumb-info-price {line-height: inherit}
.page-header-more-padding { padding: 20px 0; }
.mt-lg { margin-top: 10px !important }
.page-header {margin-bottom: 0px;}
.padd20 {padding-top: 20px;}
.p-lg { padding: 13px!important }
.text-yellow {color: #ffd600; font-size: 16px;}
.btn-rd {border-radius: 15px;}
html .btn-primary {     background-color: #8c3b10; border-color: #8c3b10 #8c3b10 #1e232a; }
html.webkit .thumb-info .thumb-info-wrapper {/*max-height: 160px; comment by hany */} 
html .background-color-primary {background-color: #bc9a48 !important; }
html .background-color-secondary {background-color: #8c3b10 !important; }
.custom-color-1 {color: #84a93f !important}
.page-header-light h1 {color: #8c3b10; font-size: 25px; font-weight: 700}
.co_img { float: left; padding:5px; background: #fff; border: 1px solid #e0e0e0; margin-right: 10px; }
.agent-item {background: rgba(255,255,255,0.8);}
.agent-item h3 {font-size: 20px;}
.properties-listing .listing-item:active { box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.33) }
#header .header-top-custom {background: #fff}
.navbar-form {margin-top: 15px;}
.cat_item { max-height: 120px; margin-bottom: 20px; }
.cat_item h3 { font-size: 20px; }
.cat_item .cat_icon { margin-bottom: 10px; }
.cat_item .cat_icon img { height: 70px; }
.cat_item a:active img { height: 60px; }
.cat_item a:active h3 { color:#8c3b10; }
@media (min-width: 992px) {
    #header .header-nav-main {float: left;}
    #header .header-nav-main nav > ul > li > a { padding: 22px 20px; }
    .mobile_nav { display: none; }
    .qrcode_col {display: none !important;}
}
@media (min-width: 768px) {
    #footer .navbar {margin-bottom: 0;}
    #footer .navbar .navbar-nav { display: inline-block; float: none; vertical-align: top; }
    #footer .navbar .navbar-collapse { text-align: center; }
}
@media (max-width: 991px) {
    .main {margin-bottom:60px;}
    .logo_img {height: 60px;}
    #header .header-column {display: inline-block;}
    .logo_col {width: 50%;}
    #header .header-btn-collapse-nav {width: 18%;}
    #header .header-column.qrcode_col {display: inline-block; float: left; width: 20%}
    .qrcode_img {height: 60px; margin: 10px 0 0}
    html #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-quaternary > a {color: #fff}
    html #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-quaternary > a:active {background: #999}
    #header .header-nav-main nav > ul > li { border-bottom: 1px solid #dfad43 !important }
    #header .header-btn-collapse-nav { margin-top: 20px; background: transparent; }
    h2 {font-size: 26px;}
    #header .header-container { background: #162029 }
    #header .header-btn-collapse-nav {background: transparent;}
    #header .fa-bars { font-size: 26px;}
    #header .header-logo {text-align: center; float: none;}
    .mobile_nav { position: fixed !important; bottom: 0; display: block; width: 100%; background: #8c3b10; z-index: 10; margin-top: 40px; }
    .mobile_nav li {list-style-type: none; margin:0; padding:0;}
    .mobile_nav li a {display: block; float: right; width: 20%; padding:4px 0px; color: #fff; background: #2a3a48; font-size: 12px; text-align: center;}
    .mobile_nav li a:hover {background: #162029; color: #e1ca6c; text-decoration: none;}
    .mobile_nav li a:active {background: #121b22; }
    .mobile_nav li a i {display:block; float:none; margin:5px auto; color: #ffda44; font-size: 22px;}
    .mobile_nav .nav_list {list-style-type: none; margin:0; padding: 0;}
    .rev_slider_wrapper, .forcefullwidth_wrapper_tp_banner {display: none;}
    .hp .properties-listing .listing-item { height: 170px; }
    .hp .properties-listing .listing-item p { margin-bottom: 10px; }
    .owl-carousel {margin-bottom: 5px;}
    .owl-theme .owl-nav [class*=owl-] { margin: 0; border-radius: 50%; font-size: 12px; }
    .owl-carousel .owl-nav [class*="owl-"] { background: rgba(100,100,100,0.2); border:1px solid #e0e0e0; }
    .owl-carousel .owl-nav .owl-next {right: -24px}
    .owl-carousel .owl-nav .owl-prev {left: -21px}
}
.ad_space {height:100%; width:100%; margin:5px 0; padding:15px 10px; text-align: center; font-size: 15px; color: #162029; background: #e1ca6c; border-radius: 5px;}
.logo_ad_img {padding:5px 2px; width: 100%; 
-webkit-filter: drop-shadow(0px 0px 20px #fff); filter: drop-shadow(0px 0px 20px #fff);
}
.logo_flex2 {
    position: absolute; top: 50%; bottom: 50%; left: auto; right: auto; width: 50px; height: 50px; background: transparent;
    -webkit-box-shadow: 0px 0px 80px 0px rgba(255,255,255,0.85);
    -moz-box-shadow: 0px 0px 80px 0px rgba(255,255,255,0.85);
    box-shadow: 0px 0px 80px 0px rgba(255,255,255,0.85);
}
.logo_img { display: block; padding:10px 5px; color: #e1ca6c; font-size: 24px; text-align: center; margin: 15px auto 0; }
.head_line {border-bottom: 3px solid #e1ca6c; }
#header .header-btn-collapse-nav {color: #e1ca6c; }
#header .header-btn-collapse-nav:active {color: #b59f45; }
.hp_shielve_head { font-size: 18px; line-height: 26px; color: #3c3231; text-align: justify; padding: 40px 0 0; font-weight: 700; }
.hp_prods_slider {text-align: center;}
.hp_prods_slider h4 {font-size: 13px;}
.hp_prod { padding: 5px; }
.hp_price {position: absolute; top: 0; right:0; border-radius: 0 10px 0 10px; padding:5px 10px; background: #ff8e01; font-size: 12px; color: #fff;}
.hp_prod_img img { width:100px !important; height: 100px; border-radius: 50%; border:1px solid #eee; box-shadow: 0px 0px 5px rgba(0,0,0,0.2)  }
.hp_prod_title { position: absolute; bottom: 0; right: auto; left: auto; width: 100%; background: rgba(0,0,0,0.6); color: #fff; padding:2px 0px; font-size: 12px; }
.cat_prod { padding:0px; position: relative; }
.cat_price {position: absolute; bottom: 0; border-radius: 0 10px 0 10px; padding:5px 10px; background: #ff8e01; font-size: 12px; color: #fff;}
.cat_prod_img img { width:100% !important; height: 130px; border-radius: 10px; border:1px solid #eee; box-shadow: 0px 0px 5px rgba(0,0,0,0.2)  }
.cat_prod a:hover img {border:1px solid #ccc; box-shadow: 1px 1px 15px rgba(0,0,0,0.5); }
.cat_prod a:active img { box-shadow: 1px 1px 15px rgba(0,0,0,0.7); }
.price_before {font-weight: 300; font-size: 85%; float: left; padding-top: 4px;}
.other_ads_title { border-bottom: 2px solid #e1ca6c; padding-bottom: 4px; color: #2a3a48; font-size: 15px; font-weight: 700 }
.sales_on {width:50px; height:50px;position: absolute; top: -10px; left: -10px; border-radius: 50%; padding:8px 4px 0; text-align: center; background: #e91e63; font-size: 12px; color: #fff; line-height: 18px;}
.sales_on strong {font-size: 14px;}

.ad_item { padding:0px; position: relative; }
.ad_price {position: absolute; bottom: 30px; border-radius: 0 10px 0 10px; padding:5px 10px; background: #ff8e01; font-size: 12px; color: #fff;}
.ad_item img { width:100% !important; height: 300px; }
.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span { background-color: #e1ca6c }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {}